<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <h1>Danh sách các môn chưa học</h1>
        {% for mon in ds_mon_chua_hoc %}
            <li>{{mon}}</li>
        {% endfor %}
        <h1>Danh sách môn tiên quyết của chưa học</h1>
        {% for mon in ds_mon_tien_quyet_cua_chua_hoc %}
            <li>{{mon}}</li>
        {% endfor %}
        <h1>Danh sách môn điểm thấp</h1>
        {% for mon in que1 %}
            <li>{{mon}}</li>
        {% endfor %}
        <h1>Danh sách môn đã đạt</h1>
        {% for mon in que2 %}
            <li>{{mon}}</li>
        {% endfor %}
        <h1>Danh sách id các môn đã đạt</h1>
        {% for mon in que3 %}
            <li>{{mon}}</li>
        {% endfor %}
        <h1>Danh sách các môn đủ điều kiện học tiếp</h1>
        {% for mon in que5 %}
            <li>{{mon}}</li>
        {% endfor %}
        <h1>Danh sach nhom</h1>
        {% for mon in que6 %}
            <li>{{mon}}</li>
        {% endfor %}
         <h1>Danh sách nhóm học thiếu tín</h1>
        {% for mon in l %}
            <li>{{mon}}</li>
        {% endfor %}
        <h1>Danh sách môn chưa đăng kí trong nhóm học thiếu tín</h1>
        {% for mon in que7 %}
            <li>{{mon}}</li>
        {% endfor %}
    </ul>
</body>
</html>
