{% load static %}

<head>
  <link
    rel="stylesheet"
    href="{% static 'css/trainingprogram/training_program_list.css' %}"
  />
</head>

<body>
  <div class="container">
    <h2 class="page-title">Training Programs</h2>
    <div class="actions">
      <a href="{% url 'training_program_add' %}" class="btn btn-add"
        >Add Training Program</a
      >
    </div>

    <form
      method="POST"
      enctype="multipart/form-data"
      action="{% url 'import_training_program' %}"
      class="import-form"
    >
      {% csrf_token %}
      <label for="file" class="form-label">Upload CSV:</label>
      <input type="file" name="file" id="file" required class="form-input" />
      <button type="submit" class="btn btn-submit">Import CSV</button>
    </form>

    <table class="program-table">
      <thead>
        <tr>
          <th>Program ID</th>
          <th>Program Name</th>
          <th>Start Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for training_program in training_programs %}
        <tr>
          <td>{{ training_program.program_id }}</td>
          <td>{{ training_program.program_name }}</td>
          <td>{{ training_program.StartYear }}</td>
          <td>
            <a
              href="{% url 'course_by_program' training_program.program_id %}"
              class="btn btn-view"
              >View Courses</a
            >
            |
            <a
              href="{% url 'training_program_edit' training_program.program_id %}"
              class="btn btn-edit"
              >Edit</a
            >
            |
            <a
              href="{% url 'training_program_delete' training_program.program_id %}"
              class="btn btn-delete"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
