{% extends 'home/base.html' %}

{% load static %}

{% block extra_head_css %}
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
{% endblock %}

{% block content %}
<h2 id="login-title">Đăng nhập</h2>
<form id="login-form" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button id="login-btn" type="submit">Đăng nhập</button>
</form>
<p id="login-footer-text">
    Bạn chưa có tài khoản? <a id="register-link" href="{% url 'register' %}">Đăng ký ngay</a>
</p>
{% endblock %}
